<mat-toolbar color="primary" class="mat-elevation-z5">
	<span>ImageBoard {{getDisplayVersion()}}</span>
	<span class="fill-empty-space"></span>
	<span class="header-search">
		<mat-form-field>
			<input matInput id="searchInput">
		</mat-form-field>
		<button mat-icon-button>
			<mat-icon>search</mat-icon>
		</button>
	</span>
	<span class="header-upload">
		<button mat-icon-button>
			<mat-icon>cloud_upload</mat-icon>
		</button>
	</span>
	<span>
		<mat-menu #appMenu="matMenu">
			<button mat-menu-item>Account</button>
			<button mat-menu-item>Settings</button>
			<button mat-menu-item>Logout</button>
		</mat-menu>
		<button mat-icon-button [matMenuTriggerFor]="appMenu">
			<mat-icon>more_vert</mat-icon>
		</button>
	</span>
</mat-toolbar>
