@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
	margin: 0;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
}

.image-view {
	margin: 1rem;
}

.mat-card {
	margin: 1rem;
	width: 310px !important;
}